body { 
    opacity:  1.0;
    font-size:80%;
    COLOR: Black;
    BACKGROUND-COLOR: White;
    FONT-FAMILY: Lucida Sans Unicode, Lucida Grande, Sans-Serif;
}
p { text-align: justify; text-justify: inter-word; margin: 5px 0px 5px 0px; padding:0;font-size:1.0em;}
br { text-align: justify; text-justify: inter-word; }
div, li {margin:0;padding:0;}
ul {margin:0;padding:0px 10px 10px 10px;list-style-type:none;}
a:link {color:#0000FF;}      
a:visited {color:#0000FF;}
img { border: 0; }
table {font-size:0.8em;}
pre {
    overflow: auto;
    max-height: 480px;
    padding: 1em;
    border: 1px dashed #2f6fab;
    color: black;
    background-color: #f9f9f9;
    line-height: 1.1em;
    margin: 0px 20px 10px 20px;
}
xmp {
    overflow: auto;
    max-height: 480px;
    padding: 1em;
    border: 1px dashed #ab6f2f;
    color: black;
    background-color: #f9f9f9;
    line-height: 1.1em;
    margin: 0px 20px 10px 20px;
}
h1 {
    FONT-WEIGHT: bold;
    font-size:3.0em;
    COLOR: #407dff;
    FONT-FAMILY: Verdana, Arial, Sans-Serif;
    BACKGROUND-COLOR: #e2ecf5;
    text-align: center;
}
h2 {
    FONT-WEIGHT: bold;
    font-size:2.0em;
    COLOR: #427dff;
    FONT-FAMILY: Verdana, Arial, Sans-Serif;
    BACKGROUND-COLOR: #e2ecf5;
}
h3 {
    FONT-WEIGHT: bold;
    font-size:1.5em;
    COLOR: #427dff;
    FONT-FAMILY: Verdana, Arial, Sans-Serif;
    BACKGROUND-COLOR: #e2ecf5;
}
.video {
   background-color:#000000;
   border:5px solid grey;
   color:#64D064;
   padding: 10px;
   border-radius: 20px;
   white-space:pre-wrap;
   font-family: courier;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   width: 700px;
}
.foot {
    font-size:0.6em;
    COLOR: #9e9e9e;
    BACKGROUND-COLOR: White;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana, Arial, Sans-Serif;
}

table {
    border-collapse:collapse;
    border:1px solid #8DA6B1;
    margin:16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.16);
}
table.none {
    border-collapse:collapse;
    border: none;
    margin: 0px;
    box-shadow: none;
}
td.pass {
    background-color:#9CCF31;
    border-collapse:collapse;
    border:1px solid #888888;
    margin:16px;
}
td.eval {
    background-color:#888888;
    border-collapse:collapse;
    border:1px solid #888888;
    margin:16px;
}
td.ext {
    background-color:#CCFFFF;
    border-collapse:collapse;
    border:1px solid #888888;
    margin:16px;
}
td.low {
    background-color:#F7D708;
    border-collapse:collapse;
    border:1px solid #888888;
    margin:16px;
}
td.med {
    background-color:#FF9E00;
    border-collapse:collapse;
    border:1px solid #888888;
    margin:16px;
}
td.high {
    background-color:#FF6060;
    border-collapse:collapse;
    border:1px solid #888888;
    margin:16px;
}